<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Thêm sản phẩm</h4>                       
    </div>
    <div class="card-body">
        <div class="container">
            <form action="/list-products/edit/{{product._id}}?_method=PUT" method="POST">      
                <input type="hidden" name="_method" value="PUT">                              
                <div class="row">
                    <!--Thông tin chung-->
                    <div class="form-row col-lg-6 col-12">
                        <div><b>Thông tin chung</b></div>
                        <br>
                        <br>
                        <div class="form-row col-12">
                            <div class="form-group col-lg-6 col-12">
                                <label for="productID">Mã sản phẩm:</label>
                                <input type="text" class="form-control" value="{{product._id}}" id="productID" name="productId">
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-12">
                                <label for="productName">Tên sản phẩm:</label>
                                <input type="text" class="form-control" value="{{product.name}}" id="productName" name="productName">
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-lg-6">
                                <label for="manufacturer">Nhà sản xuất:</label>
                                <input type="text" class="form-control" value="{{product.idmanufacturer}}" id="manufacturer" name="manufacturer">
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-lg-6">
                                <label for="productBasePrice">Giá bán:</label>
                                <input type="text" class="form-control" value="{{product.baseprice}}" id="productBasePrice" name="productBasePrice">
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="productDiscountPrice">Giá giảm:</label>
                                <input type="text" class="form-control" value="{{product.discountprice}}" id="productDiscountPrice" name="productDiscountPrice">
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col">
                                <label for="productImg">Ảnh minh họa:</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="productImg" name="filename" value="{{product.cover}}">
                                    <label class="custom-file-label" for="customFile"></label>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <!--Thông số kỹ thuật-->
                    <div class="form-row col-lg-6 col-12">
                        <div><b>Thông số kỹ thuật</b></div>
                        <br>
                        <br>
                        <div class="form-row col-12">
                            <div class="form-group col-12">
                                <label for="r">Màn hình:</label>
                                <input type="text" class="form-control" value="{{product.screen}}" id="productScreen" name="productScreen">
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-12">
                                <label for="">Camera:</label>
                                <input type="text" class="form-control" value="{{product.camera}}" id="productCamera" name="productCamera">
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-lg-6 col-12">
                                <label for="">CPU:</label>
                                <input type="text" class="form-control" value="{{product.processor}}" id="productProcessor" name="productProcessor">
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-lg-6 col-12">
                                <label for="">Dung lượng lưu trữ:</label>
                                <input type="text" class="form-control" value="{{product.storage}}" id="productStorage" name="productStorage">
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-12">
                                <label for="">Dung lượng pin:</label>
                                <input type="text" class="form-control col-lg-4 col-md-6 col-12" value="{{product.battery}}" id="productBattery" name="productBattery">
                            </div>
                        </div>   
                    </div>
                </div>      
                <button type="submit" class="btn btn-primary">Thay đổi</button>
                <a class="btn btn-danger" href="/list-products">Hủy</a>
                </form>   
        </div>
    </div>
</div>